<nav class="main-nav">
    <div class="nav-brand">
        <a href="./index.html">HTML 3D教学</a>
    </div>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="/3dteach/div.html" class="nav-link">DIV容器</a>
        </li>
        <li class="nav-item">
            <a href="/3dteach/span.html" class="nav-link">SPAN元素</a>
        </li>
        <li class="nav-item">
            <a href="/3dteach/p.html" class="nav-link">P段落</a>
        </li>
        <li class="nav-item">
            <a href="/3dteach/table.html" class="nav-link">Table表格</a>
        </li>
        <li class="nav-item">
            <a href="/3dteach/form.html" class="nav-link">Form表单</a>
        </li>
        <li class="nav-item">
            <a href="/3dteach/list.html" class="nav-link">List列表</a>
        </li>
    </ul>
</nav>
